<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Order Status</title>
    <link rel="icon" href="/favicon.ico" />
    <link rel="stylesheet" href="/styles.css" />
  </head>

  <body>
    <div class="order-list">
      <%- include('header') %> <% data.forEach(function({order, payment}) { %>
      <div class="order-details">
        <div>Order: <%= order.orderID %></div>
        <h4>Status: <%= payment.message %></h4>
        <div class="customer-info">
          <h4>Order info</h4>
          <div>Amount: <%= payment.amount %> <%= payment.currency %></div>
          <div>Status: <%= payment.status %></div>
        </div>
      </div>
      <% }); %>
    </div>
  </body>
</html>
