<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= product.name %> Details</title>
    <link rel="icon" href="/favicon.ico" />
    <link rel="stylesheet" href="/styles.css" />
  </head>

  <body>
    <%- include('header') %>
    <div class="product-details">
      <img
        src="<%= product.image %>"
        alt="<%= product.name %>"
        width="300"
        height="300"
      />
      <div class="product-info">
        <h2><%= product.name %></h2>
        <p>Description: <%= product.description %></p>
        <p>Price: <%= product.price %> RON</p>
        <form action="/cart/add" method="post">
          <input type="hidden" name="productId" value="<%= product.id %>" />
          <button type="submit" class="button">Add to Cart</button>
        </form>
      </div>
    </div>
  </body>
</html>
